.review-section {
  padding: 40px 32px;
  text-align: center;
}

.review-section h2 {
  color: #333;
  font-weight: 400;
  margin-bottom: 2rem;
}

.review-section p {
  font-size: 1rem;
  color: #333;
  margin-bottom: 2rem;
}

.review-section .question-navigation-box {
  border-radius: 12px;
  padding: 2rem;
  margin: 2rem auto;
  max-width: 800px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.question-nav-row {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding: 8px 0;
  font-size: 14px;
  font-weight: 500;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
